<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/error.css}"/>
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Forbidden!</h1>
        </div>
        <p>Sorry, you cannot access that</p>
        <a href="/users/home">Home</a>
    </div>
</div>
</body>
</html>