<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>New User registration</title>
</head>
<body>
<!--<div th:replace="header"></div>-->
<div class="col-md-offset-2">
    <h2>Create New User</h2>
</div>
<form class="form-horizontal" th:action="@{/users/create}" th:object="${user}" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="first-name">First name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{firstName}" id="first-name"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('firstName')}"
                   th:errors="*{firstName}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="last-name">Last name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{lastName}" id="last-name"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="phone-number">Last name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phone-number"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('phoneNumber')}"
                   th:errors="*{phoneNumber}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">E-mail:</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" th:field="*{email}" id="email"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Password:</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" th:field="*{password}" id="password"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"></small>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-info" value="Register"/>
        <input type="reset" class="btn btn" value="Clear"/>
    </div>
</form>
</body>
</html>
